:root {
  --f16: 16px;
  --f15: 15px;
  --f14: 14px;
  --f13: 13px;
  --f12: 12px;
  --f11: 11px;
  --f10: 10px;
  --f9: 9px;
  --f8: 8px;
  --black: #000;
  --white: #fff;
  --primary-blue: #1597e5;
  --secondary-blue: #193498;
  --ternary-blue: #3d56b2;
  --background-gray: #eff1ef;
  --gray-button: #5f7161;
  --text-gray: rgba(0, 0, 0, 0.5);
  --text-green: #73d13d;
  --border-gray: #e0e0e0;
  --available: #81b214;
  --partial-available: #7f8d81;
  --full: #fa541c;
  --light-orange:#FEDDD2;
}
